.chat-side {
	background-color: gray;
	height: 850px;
	&_header {
		font-size: 36px;
		padding-top: 24px;
		border-bottom: 1px solid white;
		&_name {
			padding-left: 20px;
			font-size: 27px;
		}
		&_icons {
			font-size: 20px;
			i {
				padding-top: 13px;
			}
		}
	}
	&_content {
		padding: 15px;
		font-size: 20px;
		&_group {
			font-weight: bold;
			font-size: 17px;
		}
		&_message {
			font-size: 15px;
		}
	}
}
